<h1>Product List</h1>
<div class="container mt-5">
  <table class="table table-striped">
    <thead> 
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let products of data">
        <td>{{ products.id }}</td>
        <td>{{ products.name }}</td>
        <td>{{ products.price }}</td> 
        <td>{{ products.quantity }}</td>
        <td><!-- Button trigger modal -->
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" [attr.data-bs-target]="'#a' + products.id" (click)="handleShowModal(products)">
            Edit
          </button>
          
          <!-- Modal -->
          <div class="modal fade" [id]="'a' + products.id" tabindex="-1">aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-grid justify-content-center gap-1">
                  <input name="Name" value="{{products.name}}" style="width: 200px;" (change)="handleChange($event)"/>
                  <input name="Price" value="{{products.price}}"style="width: 200px;" (change)="handleChange($event)"/>
                  <input name="Quantity" value="{{products.quantity}}"style="width: 200px;" (change)="handleChange($event)"/>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" (click)="updateData()">Save changes</button>
                </div>
              </div>
            </div>
          </div></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container2">
  <a routerLink="/product">Add Product</a>
</div>