<h1>Product List</h1>
<div class="container mt-5">
  <table class="table table-striped">
    <thead> 
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let products of data">
        <td>{{ products.id | json }}</td>
        <td>{{ products.name | json }}</td>
        <td>{{ products.price | json }}</td>
        <td>{{ products.quantity | json }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <a routerLink="/home">List of Products</a>
  <a routerLink="/product">Add Product</a>
</div>