<h1>New Product</h1>
<div>
  <label>İsim:</label>
  <input [(ngModel)]="name" placeholder="İsim giriniz"><br><br>
  <label>Fiyat:</label>
  <input type="number" [(ngModel)]="price" placeholder="Fiyat giriniz"><br><br>
  <label>Miktar:</label>
  <input type="number" [(ngModel)]="quantity" placeholder="Miktar giriniz"><br><br>
  <button (click)="postData()">Gönder</button>
</div>
<div *ngIf="response">
  <h2>Sunucudan Gelen Yanıt:</h2>
  <p>{{ response }}</p>
</div>
  <div class="container">
  <a routerLink="">List of Products</a>
  </div>
  
